<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>CoreData</string>
	<string>ContainerView</string>
	<string>Block</string>
	<string>Dispatch</string>
	<string>DesignPattern</string>
	<string>Network &amp; AFNetwork</string>
	<string>Serialize</string>
	<string>Algorithm</string>
	<string>Code Tip</string>
</array>
</plist>
